LIVEKIT_URL=wss://project.livekit.cloud
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
GOOGLE_API_KEY=example
OPENROUTER_API_KEY=sk-or-v1-0-example
TTS_SERVER=http://<ec2-ipaddress>:8000
STT_SERVER=http://<ec2-ipaddress>:8000